<% if(success && success.length) { %>
<div class="alerts alert-success closing-banner">
  <%= success %>
  <button class="alert-close-btn closing-banner-btn">
    <img src="/assets/alert-cross.svg" alt="alert-cross-btn" />
  </button>
</div>
<% } %> <% if(error && error.length) { %>
<div class="alerts alert-error closing-banner">
  <%= error %>
  <button class="alert-close-btn closing-banner-btn">
    <img
      src="/assets/alert-cross.svg"
      class="light-alert-cross"
      alt="alert-close-btn"
    />
  </button>
</div>
<% } %>
