<footer class="footer">
  <div class="teacher-baner banner">
    <div class="teacher-baner-txt">
      <h3>Teach the world online</h3>
      <p>
        Create an online video course, reach students across the globe, and earn
        money
      </p>
    </div>

    <a href="/tutor" class="btn btn-outline-dark">Teach on FA</a>
  </div>
  <div class="companies">
    <h3 class="banner comapnies-txt">
      Top comapnies chose <span class="colored">Future Academy</span> to build
      in demand currer skills
    </h3>
    <div class="companies-comapny">
      <img src="/assets/company-1.svg" class="company-logos" />
      <img src="/assets/company-2.svg" class="company-logos" />
      <img src="/assets/company-4.svg" class="company-logos" />
      <img src="/assets/company-5.svg" class="company-logos" />
    </div>
  </div>
  <div class="links">
    <div class="service-links footer-link">
      <a href="#" class="footer-links">FA Bussiness</a>
      <a href="#" class="footer-links">Tech on FA</a>
      <a href="#" class="footer-links">About us</a>
      <a href="mailto:noumansharifgul@gmail.com" class="footer-links"
        >Contact us</a
      >
    </div>
    <div class="furture-links footer-link">
      <a href="#" class="footer-links">Career</a>
      <a href="#" class="footer-links">Blog</a>
      <a href="#" class="footer-links">Help and support</a>
      <a href="#" class="footer-links">Investers</a>
    </div>
    <div class="secuarity-links footer-link">
      <a href="#" class="footer-links">Terms</a>
      <a href="#" class="footer-links">Privacy policy</a>
      <a href="#" class="footer-links">Cookies settings</a>
      <a href="#" class="footer-links">Accesibility statement</a>
    </div>

    <a href="#" class="btn btn-outline-dark">Englist</a>
  </div>

  <div class="footer-brand-logo">
    <img src="/assets/dark-brand-logo.svg" alt="" />
    <h2>Future Academy</h2>
  </div>
</footer>
