<nav class="nav-bar">
  <img src="/assets/logo.svg" class="brand-logo" />
  <a href="/courses" class="categories">Home</a>
  <input type="text" class="search-bar" placeholder="Search for anything" />
  <% if (!currentUser) { %>
  <a href="/signin" class="fa-bussiness">Sign In</a>
  <a href="/login" class="tech-on-fa">Login</a>
  <% } %> <% if (currentUser) { %>
  <a href="/logout" class="tech-on-fa">Logout</a>
  <% } %> <% if (currentUser) { %>
  <a href="/show" class="fa-user-learning">My learning</a>
  <% } %>
  <div class="icons">
    <img src="/assets/insta.svg" alt="instagram" />
    <img src="/assets/linkedin.svg" alt="linkedin" />
    <img src="/assets/dribbble.svg" alt="snapchat" />
    <img src="/assets/my-avatar.png" alt="avatar" />
  </div>
</nav>
