<% layout("/layouts/boilerplate") %>

<body>
  <div class="err-pg">
    <img src="/assets/err-logo.gif" class="err-logo" />
    <h1 class="err-message">page not found</h1>
    <p class="err-code">ERROR - 404</p>
  </div>
</body>
