<%- layout("/layouts/boilerplate") %>
<body>
  <section class="hero-pg">
    <div class="hero-section">
      <div class="card">
        <div class="card-title"><h1>Learning that gets you</h1></div>
        <p>Skill for you present (and for future). Get started with us.</p>
      </div>
    </div>
    <% if(currentUser) { %>
    <div class="courses-dash-board">
      <h1>Lets start Learning</h1>
      <a href="#" class="link"><strong>My learning</strong></a>
      <div class="my-courses-cards">
        <div class="card">
          <div class="card-image">
            <img src="/assets/avatar-1.png" alt="" />
          </div>
          <div class="card-details">
            <h3>Course title</h3>
            <p><strong>1.</strong> Lecture number</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img src="/assets/avatar-2.png" alt="" />
          </div>
          <div class="card-details">
            <h3>Course title</h3>
            <p><strong>1.</strong> Lecture number</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img src="/assets/avatar-3.png" alt="" />
          </div>
          <div class="card-details">
            <h3>Course title</h3>
            <p><strong>1.</strong> Lecture number</p>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <div class="banner">
      <p>
        <strong>Training 5 or more peolpe?</strong> Get your team access to
        Future Academy with 10k+ premium courses.
      </p>
      <div class="btns">
        <div class="btn bsns-btn">Get AF Bussiness</div>
        <div class="btn">Dissmiss</div>
      </div>
    </div>
  </section>

  <section class="pg-1">
    <% if(currentUser) { %>
    <div class="pg-1-hero-heading">
      <h1>What to learn next</h1>
      <h2>our top pick for you</h2>
    </div>
    <% } %> <% if(!currentUser) { %>
    <div class="pg-1-hero-heading">
      <h1>Best Seller</h1>
      <h2>Most watched course</h2>
    </div>
    <% } %>
    <div class="card">
      <div class="card-image">
        <img src="/assets/pg-1-crd-img.png" alt="" />
      </div>
      <div class="card-details">
        <div class="card-title">
          <h3>English Vocabulary GRE | TOEFL | GMAT | CAT | IELTS</h3>
        </div>
        <div class="card-description">
          English Vocabulary - Super fast method GRE | TOEFL | GMAT | CAT |
          IELTS
        </div>
        <div class="card-author"><p>By Jackson Kailath</p></div>
        <div class="card-update">
          <p>
            <span>Update <strong>April-2024</strong></span> . 11 Total hours .
            24 Lectures . All levels
          </p>
        </div>
        <div class="btn card-feature"><a href="#">Best seller</a></div>
      </div>
    </div>
  </section>

  <section class="pg-2">
    <div class="card-row-1 card-row">
      <% if(currentUser) { %>
      <h2>Recomended for you</h2>
      <% } %> <% if(!currentUser) { %>
      <h2>High demand content</h2>
      <% } %>

      <div class="recommended-course-cards">
        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>

        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>

        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>

        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-row-2 card-row">
      <h2>Popular for Full Stack Web Developer</h2>
      <div class="recommended-course-cards">
        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>

        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>

        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>

        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-row-3 card-row">
      <h2>Learners are viewing</h2>
      <div class="recommended-course-cards">
        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>

        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>

        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>

        <div class="card" type="button">
          <div class="card-image"></div>
          <div class="card-title">
            <h4>Lorem ipsum dolor sit amet dolor adipisicing elit.</h4>
          </div>
          <div class="card-author"><p>Lorem, ipsum dolor.</p></div>
          <div class="card-reviews">
            <p><strong>4.2</strong>&starf;&starf;&starf;&starf;&star; 4.2</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
