<%- layout("/layouts/boilerplate") %>

<body>
  <form action="/login" method="post" class="signin-form">
    <h1>Login</h1>
    <div class="signin-username">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="username" />
    </div>

    <div class="signin-password">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        placeholder="******"
        id="password"
      />
    </div>

    <button class="btn">Sign In</button>
  </form>
</body>
