<% layout("/layouts/boilerplate") %>
<body class="show-course-pg">
  <div class="course-details">
    <h1 class="course-title">Lorem, ipsum dolor.</h1>
    <p class="course-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <div class="course-rating">
      <h5>
        3.8 <span>&starf;&starf;&starf;&starf;&star;</span>
        <a href="#">(9.7 rating)</a> 21,012 students
      </h5>
    </div>
    <div class="course-author">Created by <a href="#">Lorem ipsum.</a></div>
    <div class="course-additional-details">
      <p>
        <span>Last updated 1/2023</span> <span>English</span>
        <span>English (auto)</span>
      </p>
    </div>

    <div class="show-course-card">
      <div class="card-image">
        <img src="/assets/show-card-img.png" alt="" />
        <img src="/assets/play-icon.svg" class="play-icon" />
      </div>
      <h3 class="card-status">Lorem ipsum dolor sit amet.</h3>
      <button class="card-purchase-btn btn btn-2">Purchase course</button>
      <!-- <button class="card-purchase-btn">Go to course</button> -->
      <span class="guarante-label">30-Day-Money-Back-Guarrantee</span>
      <div class="card-content-details">
        <h4>This curse includes:</h4>
        <ul>
          <li>1 Hour on demand lectures</li>
          <li>Practice exams</li>
          <li>Labs with passing marks</li>
          <li>Theory and practical examples</li>
          <li>Articles</li>
          <li>Research pappers</li>
        </ul>
        <div class="social-options">
          <h5 class="share">Share</h5>
          <h5>Gift this course</h5>
          <h5>Apply cupons</h5>
        </div>
      </div>

      <div class="card-teaching-offer">
        <h3>Training 5 or more people?</h3>
        <p>
          Training 5 or more peolpe? Get your team access to Future Academy with
          10k+ premium courses.
        </p>
        <button class="btn btn-2">Try FA Bussiness</button>
      </div>
    </div>
  </div>

  <div class="course-content-details">
    <h2>What you will learn</h2>
    <div class="content">
      <div class="first-content">
        <p>&check; Lorem ipsum dolor sit.</p>
        <p>&check; Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="last-content">
        <p>&check; Lorem ipsum dolor sit.</p>
        <p>&check; Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>

  <div class="related-topics">
    <h2>Explore relative topics</h2>
    <div class="topics">
      <div class="topic-btn topic-1 btn btn-2">Lorem, ipsum dolor.</div>
      <div class="topic-btn topic-2 btn btn-2">Lorem, ipsum dolor.</div>
      <div class="topic-btn topic-3 btn btn-2">Lorem, ipsum dolor.</div>
    </div>
  </div>

  <div class="course-content">
    <div class="dropdown dropdown-1">
      <select name="course-content" class="course-content-dropdown">
        <option value="content-1">Introduction</option>
        <option value="content-2">Getting Install all the tools</option>
        <option value="content-2">Articles refrences</option>
      </select>

      <select name="course-content" class="course-content-dropdown">
        <option value="content-1">Roadmap</option>
        <option value="content-2">Online Q & A</option>
        <option value="content-2">Git GitHub</option>
      </select>

      <select name="course-content" class="course-content-dropdown">
        <option value="content-1">Final Project</option>
        <option value="content-2">Deploying</option>
        <option value="content-2">What next</option>
      </select>
    </div>
  </div>

  <div class="requirements">
    <h2>Requirements</h2>
    <li>No prior knowledge required.</li>
  </div>

  <div class="course-detailed-description">
    <h2>Description</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
      eveniet earum odit nemo aspernatur? Minus corporis, laudantium qui
      doloribus quam natus, accusamus ipsa reprehenderit, temporibus magni eos
      voluptatem molestiae sunt at doloremque vel aut praesentium dolorem
      incidunt eum! Doloribus perferendis aliquam ipsum. Neque voluptas
      veritatis minima necessitatibus eum provident iure! Lorem ipsum, dolor sit
      amet consectetur adipisicing elit. Molestiae eveniet earum odit nemo
      aspernatur? Minus corporis, laudantium qui doloribus quam natus, accusamus
      ipsa reprehenderit, temporibus magni eos voluptatem molestiae sunt at
      doloremque vel aut praesentium dolorem incidunt eum! Doloribus perferendis
      aliquam ipsum. Neque voluptas veritatis minima necessitatibus eum
      provident iure!
    </p>
    <input type="checkbox" class="show-more-btn" />
  </div>

  <div class="suggested-courses">
    <div class="course-1 course">
      <div class="course-image"><img src="/assets/avatar-1.png" alt="" /></div>
      <div class="course-title">
        <h3>Lorem ipsum dolor sit amet dolor sit amet.</h3>
      </div>
      <div class="course-ratting">
        <p>4.0 <span>&starf;</span></p>
      </div>
      <div class="course-students"><p>12,523 students</p></div>
      <div class="course-pricing"><h4>$5.78</h4></div>
    </div>

    <div class="course-1 course">
      <div class="course-image"><img src="/assets/avatar-2.png" alt="" /></div>
      <div class="course-title">
        <h3>Lorem ipsum dolor sit amet dolor sit amet.</h3>
      </div>
      <div class="course-ratting">
        <p>4.0 <span>&starf;</span></p>
      </div>
      <div class="course-students"><p>12,523 students</p></div>
      <div class="course-pricing"><h4>$5.78</h4></div>
    </div>

    <div class="course-1 course">
      <div class="course-image"><img src="/assets/avatar-3.png" alt="" /></div>
      <div class="course-title">
        <h3>Lorem ipsum dolor sit amet dolor sit amet.</h3>
      </div>
      <div class="course-ratting">
        <p>4.0 <span>&starf;</span></p>
      </div>
      <div class="course-students"><p>12,523 students</p></div>
      <div class="course-pricing"><h4>$5.78</h4></div>
    </div>

    <div class="course-1 course">
      <div class="course-image"><img src="/assets/avatar-4.png" alt="" /></div>
      <div class="course-title">
        <h3>Lorem ipsum dolor sit amet dolor sit amet.</h3>
      </div>
      <div class="course-ratting">
        <p>4.0 <span>&starf;</span></p>
      </div>
      <div class="course-students"><p>12,523 students</p></div>
      <div class="course-pricing"><h4>$5.78</h4></div>
    </div>

    <button class="btn btn-2">Show more</button>
  </div>

  <div class="tutor-info">
    <h2>Tutor</h2>
    <h4><a href="#">Lorem ipsum dolor.</a></h4>
    <div class="role"><span>Programmer</span></div>
    <div class="profile">
      <div class="profile-image"></div>
      <div class="profile-details">
        <p>&starf; 4.3 Instructor Rating</p>
      </div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et sapiente
        neque earum ipsa assumenda architecto id obcaecati, non vero voluptatem
        unde, at quia corporis tenetur voluptates! Adipisci delectus ad
        voluptatem. Tempora, debitis rem. Porro provident explicabo fugit. Eaque
        totam enim provident nam, delectus porro fugit! Voluptatem, aliquid
        inventore. Soluta dolor illum asperiores itaque culpa id modi fuga
        beatae doloremque praesentium? Corrupti reprehenderit, quidem a,
        corporis mollitia inventore atque, voluptatem perspiciatis fuga eos
        facilis tempora dolor quia voluptatibus soluta ducimus ullam neque
        maxime enim veritatis culpa. Eaque assumenda voluptatem est quibusdam!
        Cumque veniam, officia, voluptate quam eaque, recusandae dolorum
        sapiente hic consequuntur omnis sunt! Laudantium impedit nemo pariatur.
        Reiciendis sequi tempora, libero eveniet distinctio quo! Dignissimos quo
        officiis quidem obcaecati repudiandae. Recusandae at tenetur quia autem.
        Vitae cupiditate, rem esse ratione fugit optio fugiat aspernatur
        voluptate ullam sed repellendus quam magnam dolorum veritatis
        perspiciatis amet modi voluptates blanditiis unde minima dolore.
        Voluptatem ab laborum est quas quidem corrupti illum officiis id labore
        enim sapiente ex quasi, doloremque totam quaerat, dolores officia nulla
        voluptate earum repudiandae illo? Quibusdam asperiores ipsum magnam
        libero? Sint unde ipsum mollitia incidunt facere consequuntur in
        consequatur ex distinctio non nulla repudiandae est ducimus inventore
        officia possimus veniam earum optio eum eos laboriosam, dolor quaerat.
        Accusamus, aspernatur harum! Debitis ut explicabo laborum, deleniti
        autem tempora odio. Distinctio inventore in vero voluptas sunt
        voluptates laborum sequi! Quam, qui, repellat ut, architecto maiores
        nisi veritatis repudiandae quod cupiditate quia earum? Nesciunt
        praesentium iste voluptas minima aspernatur harum reiciendis dolorum
        voluptatibus, explicabo pariatur odio. Numquam, ad? Corrupti placeat
        magni numquam eveniet cum, porro alias adipisci? Nam dignissimos aperiam
        ipsum quod molestias! Totam dignissimos ipsa possimus unde est
        necessitatibus ratione amet deserunt, praesentium neque esse ab in eius
        ut quis expedita odit, odio tempora corporis iste architecto culpa!
        Debitis, libero! Ipsam, nemo. Ipsam nostrum fugiat laboriosam excepturi
        qui dolore molestiae fuga cupiditate ratione saepe consequatur
        praesentium porro nam ea totam ipsa blanditiis, beatae accusamus
        recusandae expedita neque minus voluptatem mollitia veniam? Sed. Ex
        sequi deleniti laudantium iure, libero dolor nobis, ad quos temporibus
        fugiat impedit aut velit voluptate assumenda maiores, nulla
        necessitatibus quae. Natus dolorem commodi, quis adipisci rerum quae
        earum pariatur. Illum quae quo officiis amet dicta aspernatur nam
        molestiae deleniti? Maxime, quod optio beatae distinctio quidem dolorem.
        Ab quia praesentium enim officia? Perferendis asperiores fugiat est!
        Distinctio deleniti saepe repellat! Recusandae consequatur alias minus
        sunt totam natus accusantium. Obcaecati deleniti fugit impedit est quae.
        Repellendus excepturi beatae expedita dolorum possimus incidunt optio
        commodi, delectus distinctio ducimus, numquam vero minus earum?
        Voluptatem voluptates accusantium veritatis excepturi non libero nihil
        eligendi tenetur provident molestiae dignissimos vel temporibus eos
        perspiciatis corporis numquam iste vero inventore, ad aperiam labore
        debitis ab. Totam, animi sint. Consectetur, deserunt. Numquam deserunt
        amet explicabo quas vero earum blanditiis quos sint quo, magnam iusto ab
        consequatur, incidunt esse pariatur doloribus aspernatur quis saepe
        ipsam, suscipit velit ipsa laborum officiis? Natus pariatur nostrum
        beatae accusantium ipsam, eius aliquam nulla suscipit voluptas
        consequuntur soluta sint illo saepe iure voluptatibus ex iste deserunt?
        Fugit sint maxime ratione quaerat enim odio consequatur suscipit!
        Quisquam commodi incidunt eaque ut fugiat blanditiis saepe error ea
        veniam harum iure veritatis cum porro impedit mollitia enim, libero
        perspiciatis! Repellendus commodi corporis nulla itaque magnam
        consequatur cupiditate eius. Cum reprehenderit alias quia, iure eius
        assumenda corporis nobis ex amet dolorum aut doloremque nostrum odio
        exercitationem quos laboriosam officia! Expedita adipisci vel suscipit
        vero, cupiditate aliquid at dolorum aperiam. Praesentium in tenetur
        consectetur qui sequi soluta error tempore placeat odio, modi ab
        mollitia consequatur id voluptatum quae magnam quis ullam, pariatur,
        maxime neque nemo rem velit quidem cupiditate. Nemo? Deserunt accusamus
        pariatur cumque amet, est id nam possimus officia illum nobis, nulla
        impedit dolorum ab. Consectetur, facere praesentium excepturi nisi
        quibusdam, quia suscipit inventore molestias, id tenetur atque quas.
        Exercitationem tempora nemo enim praesentium nihil recusandae earum
        quasi veritatis? Eum quia atque aut consequuntur porro ducimus
        repudiandae, recusandae ipsum temporibus officia animi, pariatur
        officiis. Ducimus tenetur delectus aspernatur eius. Deserunt, maxime
        exercitationem impedit voluptatibus minima libero natus vel distinctio,
        earum modi commodi. Doloremque rem, non placeat maxime alias hic, cumque
        excepturi repudiandae necessitatibus minima in ea ex, sequi tempore.
        Consequuntur earum atque modi deleniti enim eveniet eaque cum tenetur
        quo. Iste sed in, sint officiis possimus pariatur quidem maxime
        repellendus iure nesciunt velit suscipit. Odio adipisci amet possimus
        rem. Delectus quasi architecto, non cum aperiam veniam, repellendus quod
        sed officiis vero nisi numquam suscipit ut repudiandae ducimus illo.
        Assumenda, sequi eum! Sint esse odit explicabo eos nisi quod ducimus.
        Facere, ipsum. Labore minima delectus exercitationem minus repellendus?
        Fugiat officiis quibusdam officia ratione quisquam, voluptatem sequi,
        magnam reprehenderit sed aperiam explicabo nesciunt obcaecati in
        inventore. Nisi facere eligendi alias tempore. Assumenda similique harum
        modi quidem officia! Itaque explicabo doloribus, fugiat cum, possimus
        perspiciatis, asperiores corrupti ducimus voluptate ratione beatae
        delectus? Id ab ad ipsum at libero, harum magni repellendus maiores? A
        accusantium voluptates culpa impedit corrupti aspernatur minus, nulla id
        exercitationem tempore expedita quo magnam quasi, eveniet vitae nostrum
        eius nisi, at ipsa quod? Tempore ullam neque consequuntur aperiam vel!
        Sunt, dolorum cumque quasi animi harum repudiandae deleniti quaerat
        aspernatur distinctio nostrum magnam vel ipsum? Architecto, illo rerum.
        Reprehenderit iste porro aliquid ut iusto, voluptatem amet totam quidem.
        Vel, blanditiis. Quia facilis esse accusamus, ea, provident quod quis
        tempore corrupti odio doloribus alias. Eveniet provident cumque
        molestias commodi voluptatum hic quam rem minima soluta, perferendis
        mollitia, eligendi natus inventore quia. Libero itaque, perferendis
        repellendus quia nostrum enim animi corporis eveniet saepe temporibus
        accusantium! In aspernatur eaque fugiat nemo sunt cupiditate impedit
        aliquam, nisi quia veritatis ratione. Voluptatum aut voluptatem neque?
        Doloremque nihil temporibus quod officiis accusantium asperiores
        quisquam adipisci minima consequatur, incidunt totam eos sunt architecto
        aliquam blanditiis aspernatur maxime fugit dolor labore natus laudantium
        consectetur recusandae neque. Porro, accusamus. Repellat, repellendus,
        vitae, aliquam accusantium perspiciatis deleniti reprehenderit dolorum
        architecto facere magnam cupiditate tenetur quo. Perspiciatis, aliquam.
        Molestiae animi dicta, amet dolorem et expedita modi ad perferendis
        exercitationem velit nisi? Maiores vero beatae magnam deserunt dolorum
        dicta laborum officia eaque eligendi praesentium minima aliquid ipsam
        harum vitae cumque neque impedit autem numquam reiciendis consectetur
        unde, tenetur sit quod eum. Molestiae? Sunt officiis blanditiis maiores
        minus eveniet vitae quaerat autem reiciendis error quam id rem
        laudantium quae facere in, recusandae tempora sit ipsum exercitationem
        tempore nisi! Quis eveniet blanditiis quae doloribus. Doloremque,
        recusandae commodi autem qui placeat labore officiis reprehenderit
        nesciunt iure est enim aliquam cupiditate dicta voluptatum doloribus
        necessitatibus vitae, et mollitia laboriosam perspiciatis laborum hic?
        Sit non enim numquam. Modi nobis sunt deleniti, fugit, adipisci quasi
        eveniet, voluptate veniam doloremque pariatur animi alias. Explicabo
        nesciunt tempora possimus repellendus voluptates cupiditate. Odit
        asperiores soluta unde nemo tenetur illum neque perspiciatis! Velit
        voluptas dicta distinctio eligendi placeat nihil cumque exercitationem
        incidunt laboriosam id atque excepturi ea officia quam quod, maxime
        mollitia minima cupiditate. Totam, cumque ea eaque iure dolorum nemo
        nisi. Qui adipisci maiores dolorum non tempora, eaque repellat. A,
        maxime unde illo dolore ullam dolorem eaque earum libero corrupti
        repudiandae cum vero, ut veritatis eligendi atque consequatur adipisci
        quos nostrum. Quis ad cupiditate amet reiciendis illo dolorem. Aperiam
        magni, ea illum mollitia, sapiente cum numquam non delectus temporibus
        asperiores natus quasi tempora, nulla sit nam. Molestias omnis dolor
        illo fugit? Rem obcaecati vel animi, modi nulla quam veniam ipsam iusto
        tenetur? Quasi laborum, cum quo dolore laudantium iste consequuntur
        possimus sint velit, magnam nostrum assumenda consequatur fugit fuga
        accusantium eveniet! Molestiae quibusdam aperiam nemo dicta temporibus
        hic iusto vel magnam laudantium atque. Nemo expedita pariatur explicabo
        ipsum atque sapiente necessitatibus, distinctio cum porro modi dolorem
        non tenetur, consequuntur illum ea. Animi voluptate eum dolores sit!
        Quia hic rem reiciendis repudiandae ex adipisci dolores quaerat officia
        placeat temporibus nostrum eligendi repellat ad facilis, sequi deserunt
        consequuntur minus maxime quae. Nulla, odio. Eos, quae ducimus. Porro
        ipsa similique nisi? Id ad, quidem ratione quasi deserunt sunt
        cupiditate quam quisquam recusandae nemo ipsa sapiente omnis molestiae
        commodi iusto similique nesciunt mollitia exercitationem! Temporibus.
        Praesentium voluptate nihil officiis. Laudantium, distinctio eos! Harum
        hic, similique odio sint neque praesentium architecto explicabo
        molestiae est corrupti adipisci dolores velit eaque voluptatibus quae ab
        quaerat mollitia. Dignissimos, quos! Natus inventore illo officiis
        explicabo hic quaerat perferendis eum. Veniam delectus explicabo
        quisquam minima expedita consequuntur maiores impedit consectetur
        veritatis. Asperiores, voluptatum vero. Alias recusandae consequuntur
        eaque nam possimus voluptatibus! Laborum eius, dolore placeat ratione
        distinctio, sed voluptas aliquid iste enim dolorem provident in delectus
        debitis? Dolores officiis eum, reiciendis ducimus similique ullam,
        aliquam animi dignissimos ad commodi harum ratione? Odio cumque minima
        aperiam totam ipsam accusantium soluta harum obcaecati necessitatibus
        facere laudantium tempore, eius enim vel! Natus nulla illo molestias
        quidem? Reprehenderit eum molestias placeat, nisi incidunt fugiat
        nostrum! Inventore perferendis praesentium et harum hic quas cum
        accusantium nam, illum minus quod doloremque saepe facere, neque magnam
        atque dicta numquam eveniet illo nostrum aliquam optio, modi possimus?
        Quibusdam, dolores? Ut porro aperiam repudiandae. Explicabo quam quaerat
        omnis officia voluptate. Quo nulla accusantium perspiciatis maiores
        praesentium aut eius magni earum dolorum magnam natus aspernatur non
        veritatis laudantium, rerum cupiditate enim!
      </p>
    </div>
  </div>
</body>
