body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100dvw;
  position: relative;
}

.container {
  width: 100dvw;
  background-color: #efefef;
  flex: 1;
}

:root {
  --nav-ancor-text-color: #000;
  --footer-el-border-color: #545252;
  --universal-bg-dark-color: #333333;
}

/* Universal style */

img {
  object-fit: cover;
  object-position: center;
}

.btn {
  height: 2.1rem;
  width: 8rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}

/* Nav-bar */
.nav-bar {
  height: 12dvh;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* box-shadow: 10px 10px 10px -1 #000000f6; */
}

.nav-bar a {
  color: var(--ancor-text-color);
  text-decoration: none;
  font-size: 1rem;
}

.nav-bar .icons {
  width: 12rem;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .icons img {
  object-fit: cover;
  object-position: center;
  height: 80%;
}

.nav-bar .search-bar {
  width: 25rem;
  height: 65%;
  border-radius: 7.5rem;
  border: 2px solid #000;
  padding: 0 0 0 5rem;
  font-size: 1.08rem;
  background-color: #f3f3f3c3;
}

.nav-bar .brand-logo {
  width: 5rem;
  /* background-color: aqua; */
}

/* Footer */

.footer {
  min-height: 75dvh;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  background-color: var(--universal-bg-dark-color);
  color: #fff;
}

.teacher-baner {
  height: 16%;
  border-bottom: 1px solid var(--footer-el-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem 0;
}

.teacher-baner h3 {
  line-height: 0.5rem;
}

.footer .companies {
  min-height: 5rem;
  border-bottom: 1px solid var(--footer-el-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 4rem 0;
}

.footer .links {
  display: flex;
  padding: 1rem 4rem 0 4rem;
  min-height: 8rem;
}

.footer .service-links,
.furture-links,
.secuarity-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer .footer-link {
  min-height: 100%;
  width: 30.28%;
}

.footer .footer-link a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-links:hover {
  text-decoration: underline;
}

.footer-brand-logo {
  height: 5.5rem;
  padding: 1rem 0 0 4rem;
  display: flex;
  justify-content: flex-start;
}

.footer-brand-logo h2 {
  margin-top: 2rem;
}

/* .footer-brand-logo img {
  height: 80%;
  width: 6%;
  object-fit: cover;
  object-position: center;
} */

/* Index */

.hero-section {
  height: 60dvh;
  width: 100%;
  background-color: #efefef;
  position: relative;
}

.hero-section img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.hero-section .card {
  height: 12rem;
  width: 25rem;
  background-color: #fff;
  position: absolute;
  left: 25%;
  top: 55%;
  transform: translate(-50%, -50%);
  padding: 1rem 1rem;
  box-shadow: 10px 10px 10px -1px #00000070;
}

.hero-section .card h1 {
  font-size: 2.3rem;
}

.hero-section .card p {
  font-size: 1.2rem;
}

.courses-dash-board {
  height: 40dvh;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.courses-dash-board .my-courses-cards {
  width: 95%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-courses-cards .card {
  height: 8rem;
  width: 31%;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: inherit;
  border: 1px solid var(--footer-el-border-color);
}

.my-courses-cards .card .card-image {
  width: 35%;
  height: 100%;
  border-right: 1px solid var(--footer-el-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--universal-bg-dark-color);
}

.my-courses-cards .card .card-details {
  width: 65%;
  height: 100%;
  padding-left: 1rem;
}

.courses-dash-board .link {
  position: absolute;
  right: 12%;
  top: 15%;
}

.container .banner {
  width: 92%;
  height: 6rem;
  background-color: var(--universal-bg-dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: auto;
  color: #fff;
  border-radius: 0.2rem;
}

.btns {
  display: flex;
  gap: 1rem;
}
.btns > .btn {
  width: 10rem;
  height: 3.15rem;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
}

.btns > .btn:hover {
  color: #000;
  background-color: #fff;
}

.glowing-btn {
  --backgound-color: #fff;
  background-color: var(--backgound-color);
  color: #000;
  position: relative;
  width: 10rem;
  height: 3.15rem;
  font-size: 1rem;
}

.glowing-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  box-shadow: 5px 5px 40px -1px var(--backgound-color);
  visibility: hidden;
  border-radius: 0.5rem;
}

.glowing-btn:hover::before {
  visibility: initial;
}

/* pg-1 */

.pg-1 {
  height: 70dvh;
  width: 90dvw;
  padding: 1rem 2rem;
  overflow-x: hidden;
}

.pg-1 .pg-1-hero-heading h1 {
  font-size: 2rem;
}

/* .pg-1 .pg-1-hero-heading h1 {
  font-size: 2rem;
} */

.pg-1 .card {
  width: 98%;
  height: 15rem;
  border: 1px solid var(--footer-el-border-color);
  padding: 1rem;
  /* margin: auto; */
  display: flex;
  border-radius: 0.3rem;
}

.pg-1 .card .card-image {
  width: 35%;
}

.pg-1 .card .card-image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  background-color: var(--universal-bg-dark-color);
  border-radius: 0.3rem;
}

.pg-1 .card .card-details {
  width: 65%;
  padding-left: 1rem;
}

.pg-1 .card-description {
  width: 50%;
  line-height: 1.5;
}

.pg-1 .card-author {
  opacity: 0.75;
  font-size: 0.85rem;
}

.pg-1 .card-update p {
  font-size: 0.85rem;
}

.pg-1 .card-update span {
  color: blue;
}

.pg-1 .card-feature {
  height: 1.75rem;
  width: 5rem;
  background-color: blue !important;
}

.pg-1 .card-feature a {
  text-decoration: none;
  color: #fff !important;
  font-size: 0.75rem;
}

/* pg-2 */
.pg-2 {
  min-height: 220vh;
  max-width: 100%;
  padding: 1rem 2rem;
}

.pg-2 .card-row {
  margin-bottom: 4rem;
}

.pg-2 .recommended-course-cards {
  display: flex;
  gap: 3.1rem;
  flex-wrap: wrap;
}

.pg-2 .card {
  height: 20rem;
  width: 18rem;
  /* border: 1px solid var(--universal-bg-dark-color); */
  border-radius: 0.5rem;
  overflow: hidden;
}

.pg-2 .card:hover {
  box-shadow: 8px 8px 10px -1px #0005;
}

.pg-2 .card .card-image {
  height: 45%;
  border-bottom: 1px solid var(--universal-bg-dark-color);
  margin-bottom: 0.5rem;
}

.pg-2 .card .card-image img {
  height: 100%;
  width: 100%;
}

.pg-2 .card-title h4 {
  margin-bottom: 0.5rem;
  margin: 0 0.5rem;
}

.pg-2 .card-author p {
  opacity: 0.75;
  font-size: 0.85rem;
  font-weight: 550;
  margin: 0 0.5rem;
}

.pg-2 .card-reviews {
  margin: 0 0.5rem;
}

.card-links {
  color: inherit;
  text-decoration: none;
}

/* .pg-2 .card-reviews {
  
} */

/* Sing-In form */

.signin-form {
  height: 70dvh;
  width: 25dvw;
  margin: auto;
  padding: 1.5rem 1rem 0;
}

.signin-form div {
  height: 4rem;
  width: 100%;
  margin: 1rem 0;
}

.signin-form label {
  display: block;
  margin: 0.5rem 0;
}

.signin-form input {
  border: none;
  border-bottom: 1px solid var(--universal-bg-dark-color);
  height: 2rem;
  width: 100%;
  background-color: transparent;
  /* border-radius: 7.5rem; */
  padding: 0.5rem;
  outline: none;
  font-size: 0.95rem;
}

.signin-form .btn {
  background-color: var(--universal-bg-dark-color);
  border-color: var(--universal-bg-dark-color);
  height: 2.5rem;
  font-size: 1rem;
  margin-top: 2.5rem;
}

.signin-form .btn:hover {
  color: #fff;
  opacity: 0.8;
}

/* Flash-alerts */

.alerts {
  height: 4rem;
  max-width: 60%;
  margin: auto;
  border: 1px solid blue;
  border-radius: 0.5rem;
  padding: 0 2.5rem;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute;
  top: 10%;
  left: 50%; */
  /* transform: translate(-50%, 0); */
  transition: all 2s ease-out 0.5;
}

.alerts .alert-success {
  background-color: #333333;
}

.alerts .alert-error {
  background-color: rgb(44, 131, 44);
}

.alert-close-btn {
  background-color: transparent;
  border: none;
}

/* Show course */

.show-course-pg {
  min-height: 420dvh;
  max-width: 100%;
  background-color: #efefef;
}

.course-details {
  max-height: 50dvh;
  max-width: 100%;
  background-color: var(--universal-bg-dark-color);
  color: #fff;
  padding: 2rem 0 2rem 3rem;
}

.course-details .course-title {
  font-size: 2.1rem;
  width: 50%;
}

.course-details .course-description {
  font-size: 1.65rem;
  opacity: 0.8;
}

.course-details .course-rating h5 {
  font-size: 1rem;
  margin-top: 2rem;
}
.course-details .course-rating span {
  color: gold;
}

.course-details .course-additional-details {
  font-size: 0.86rem;
  margin-top: 1.5rem;
}

.show-course-card {
  min-height: 130dvh;
  max-width: 25dvw;
  border: 1px solid #fff;
  position: sticky;
  left: 95%;
  top: 10;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  color: #000;
  padding: 0.0005rem;
  padding-right: 0.15rem;
  border-radius: 0.5rem;
  background-color: #fff;
  overflow: hidden;
  margin-top: 7rem;
}

.show-course-card .card-image {
  height: 12rem;
  width: 100%;
  border: 1px solid #fff;
  position: relative;
  border-radius: 0.5rem;
}

.show-course-card .card-image img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 0.5rem;
}

.show-course-card .card-image .play-icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.show-course-card .btn-2:hover {
  color: #000;
  border-color: var(--universal-bg-dark-color);
}

.show-course-card .card-status {
  margin-left: 1rem;
}

.btn-2 {
  height: 3rem;
  width: 92%;
  margin-left: 0.8rem;
  background-color: var(--universal-bg-dark-color);
}

.btn-2:hover {
  color: #fff;
  opacity: 0.8;
}

.show-course-card .guarante-label {
  font-size: 0.8rem;
  opacity: 0.5;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.show-course-card .card-content-details {
  padding-left: 1rem;
}

.show-course-card li {
  margin-left: -1rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
  font-size: 0.89rem;
}

.show-course-card .social-options {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 0;
  margin-top: -1rem;
}

.social-options .share {
  position: relative;
}

.show-course-card .social-options .share::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1.2px;
  background-color: #000;
  width: 100%;
}

.show-course-card .card-teaching-offer {
  border-top: 1px solid #7d7a7ab2;
  margin: 0 0.5rem;
}

.show-course-card .card-teaching-offer h3 {
  margin-bottom: 0.4rem;
}

.show-course-card .card-teaching-offer p {
  font-size: 0.9rem;
}

.card-teaching-offer .btn {
  width: 100%;
  margin-left: 0.1rem;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid var(--universal-bg-dark-color);
  color: var(--universal-bg-dark-color);
  font-size: 1rem;
}

.card-teaching-offer .btn:hover {
  background-color: var(--universal-bg-dark-color);
  color: #fff;
  opacity: 1;
}

.course-content-details {
  margin: 4rem 0 0 5rem;
  height: 13rem;
  width: 40%;
  border: 1px solid var(--universal-bg-dark-color);
  padding: 0 2rem;
}

.course-content-details h2 {
  font-size: 2rem;
}

.course-content-details .content {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.related-topics {
  height: 10rem;
  width: 40%;
  margin-left: 5rem;
}

.related-topics h2 {
  font-size: 2rem;
}

.related-topics .topics {
  display: flex;
}

.related-topics .topic-1,
.topic-2,
.topic-3 {
  width: 10rem;
  border-radius: 5rem;
  background-color: transparent;
  color: var(--universal-bg-dark-color);
  border-color: var(--universal-bg-dark-color);
}

.related-topics .topic-btn:hover {
  background-color: var(--universal-bg-dark-color);
  color: #fff;
  opacity: 1;
}

.show-course-pg .course-content {
  height: 13rem;
  width: 40%;
  margin-left: 5rem;
  border: 1px solid var(--nav-ancor-text-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.show-course-pg .course-content-dropdown {
  width: 100%;
  height: 4.35rem;
  /* border-radius: 0.5rem; */
  background-color: transparent;
  font-size: 1rem;
  padding-left: 1rem;
}

.requirements {
  height: 6rem;
  width: 40%;
  margin-left: 5rem;
  margin-top: 2rem;
}

.course-detailed-description {
  width: 40%;
  margin-left: 2rem;
  padding: 1rem 3rem;
  height: 17rem;
  position: relative;
}

.course-detailed-description p {
  overflow: hidden;
  --max-line: 8;
  --line-height: 1.4;
  max-height: calc(var(--max-line) * 1rem * var(--line-height));
  line-height: var(--line-height);
  position: relative;
  margin-bottom: 1rem;
}

.course-detailed-description p:has(+ .show-more-btn:not(:checked))::before {
  content: "";
  height: calc(1rem * var(--max-line));
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #efefef);
}

.course-detailed-description .show-more-btn {
  appearance: none;
  /* border: 1px solid var(--universal-bg-dark-color); */
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: -2rem;
  color: blue;
  font-size: 0.8rem;
  font-weight: 550;
  position: absolute;
}

.course-detailed-description .show-more-btn::before {
  content: "show more ↓";
}

.course-detailed-description .show-more-btn:checked::before {
  content: "show less ↑";
}

.course-detailed-description p:has(+ .show-more-btn:checked) {
  max-height: none;
  margin-bottom: 5rem;
}

.suggested-courses {
  height: 25rem;
  width: 60%;
  margin-left: 4rem;
  /* border: 1px solid var(--universal-bg-dark-color); */
  padding: 1rem;
}

.suggested-courses .course {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--universal-bg-dark-color);
  padding-right: 0.8rem;
  border-bottom-left-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.suggested-courses .course .course-image {
  width: 15%;
  height: 100%;
  border-right: 1px solid var(--universal-bg-dark-color);
  background-color: var(--universal-bg-dark-color);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.suggested-courses .course .course-image img {
  height: 100%;
  width: 100%;
}

.suggested-courses .course-ratting span {
  color: #ff9d00;
  font-size: 1.2rem;
}

.suggested-courses .btn {
  width: 102%;
  background-color: transparent;
  border-color: var(--universal-bg-dark-color);
  color: var(--universal-bg-dark-color);
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
}

.suggested-courses .btn:hover {
  background-color: var(--universal-bg-dark-color);
  color: #fff;
  opacity: 1;
}

.tutor-info {
  min-height: 75dvh;
  width: 50%;
  margin-left: 5rem;
  padding-bottom: 1rem;
}

.tutor-info h2 {
  font-size: 2.3rem;
}

.tutor-info h4 {
  margin-bottom: 0.5rem;
}

.tutor-info .role span {
  opacity: 0.7;
  font-size: 0.8rem;
}

.tutor-info .profile {
  height: 10rem;
  width: 100%;
  display: flex;
  padding: 1rem 0;
}

.tutor-info .profile .profile-image {
  width: 20%;
  height: 85%;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--universal-bg-dark-color);
  margin-right: 1rem;
}

.tutor-info .profile .profile-image img {
  width: 100%;
  height: 100%;
}

.tutor-rating h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.tutor-rating span {
  color: #ff9d00;
}

/* Error Pg */
.err-pg {
  min-height: 80dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.err-message {
  font-size: 2.5rem;
}

.err-code {
  font-size: 1.5rem;
}

.err-logo {
  border-radius: 50%;
}

/* New Course */

.new-course-form {
  min-height: 90dvh;
  max-width: 40%;
  margin: auto;
  /* border: 1px solid var(--universal-bg-dark-color); */
  /* background-color: #e58b8b; */
  padding: 2rem 2rem 0;
}

.new-course-form label {
  display: block;
  font-size: 1.2rem;
}

.new-course-form input {
  height: 2rem;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--universal-bg-dark-color);
  outline: none;
  font-style: 1.2rem;
}

.new-course-form div {
  margin: auto;
  margin-bottom: 1rem;
}

.new-course-form .btn {
  height: 2.5rem;
  width: 6rem;
  background-color: var(--universal-bg-dark-color);
  color: #fff;
  opacity: 1;
}

.new-course-form .btn:hover {
  opacity: 1;
}

/* .glowing-btn {
  --backgound-color: #535353;
  position: relative;
}

.glowing-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  box-shadow: 5px 5px 40px -1px var(--backgound-color);
  visibility: hidden;
  border-radius: 0.5rem;
}

.glowing-btn:hover::before {
  visibility: initial;
} */
