<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course:</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="leacture-pg">
    <nav class="leacture-pg-nav">
      <div class="leacture-pg-left-nav">
        <div class="brand-logo">
          <img src="/assets/l-favicon.svg" alt="" />
        </div>
        <p class="pipe-line">|</p>
        <p class="course-title">Lorem, ipsum dolor.</p>
      </div>
      <div class="leacture-pg-right-nav">
        <div class="progress">
          <div class="img"></div>
          <select class="progress-dropdown">
            <option value="value">Your progress</option>
          </select>
        </div>
        <button class="btn btn2">Share</button>
        <button class="btn btn2">
          <img src="/assets/more-option.svg" alt="" />
        </button>
      </div>
    </nav>
    <main>
      <section class="main-leacture-content">
        <div class="play-screen">
          <img src="/assets/full-stack-web-development.jpg" alt="" />
        </div>
        <div class="video-settings">
          <img src="/assets/gear-icon.svg" alt="maximiza-screen-icon" />
          <img
            src="/assets/minimize-screen-icon.svg"
            alt="minimize-screen-icon"
          />
          <img
            src="/assets/maximiza-screen-icon.svg"
            alt="maximiza-screen-icon"
          />
        </div>
        <div class="social-bar">
          <img src="/assets/search-icon.svg" alt="search-icon" />
          <a href="#" class="first-social-icon"><strong>Overview</strong></a>
          <a href="#"><strong>Q&A</strong></a>
          <a href="#"><strong>Notes</strong></a>
          <a href="#"><strong>Announcements</strong></a>
          <a href="#"><strong>Reviews</strong></a>
          <a href="#"><strong>Learning tools</strong></a>
        </div>
        <p class="course-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="addictional-course-info">
          <p>
            <strong>3.8 <span>&starf;</span></strong>
          </p>
          <p>
            <strong>21,012</strong>
          </p>
          <p>
            <strong>1 hour</strong>
          </p>
        </div>
      </section>
      <article class="leactures-info-bar">
        <div class="title-bar">
          <h3>Course content</h3>
          <img
            src="/assets/alert-cross.svg"
            alt="cross-icon"
            class="learning-content-bar-cross"
          />
        </div>
        <select class="leactures-info-bar-dropdown">
          <option value="value">Your progress</option>
        </select>
        <select class="leactures-info-bar-dropdown">
          <option value="value">Your progress</option>
        </select>
        <select class="leactures-info-bar-dropdown">
          <option value="value">Your progress</option>
        </select>
      </article>
    </main>

    <%- include('../includes/footer.ejs') %>
    <script src="/js/script.js"></script>
  </body>
</html>
